.login-container {
    position: relative;
    top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background-color: #f7f7f7; */
    margin-bottom: 20px;
  }
  
  .login-card {
    width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-header h2 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .login-header p {
    font-size: 16px;
    color: #666666;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333333;
  }
  
  .form-control {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  .form-control:focus {
    border-color: #66afe9;
    box-shadow: 0 0 10px rgba(102, 175, 233, 0.5);
  }
  
  .btn-primary {
    background-color: #337ab7;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #23527c;
  }
  
  .alert {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f2dede;
    color: #a94442;
  }
  
  .forgot-password {
    text-align: center;
    margin-top: 20px;
  }
  
  .forgot-password a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    color: #23527c;
  }